.not-found-bg {
    background-color:black;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}

.not-found-cont {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.not-found-image{
    height:300px;
}
.not-found-head {
    padding-top:10px;
    color:white;
    font-size:20px;
    text-align:center;
    max-width:70%;
}

.notFoundBtn {
    background-color: #6366f1;
    border-width:0px;
    border-radius:5px;
    color:white;
    padding:10px;
}

@media screen and (min-width:768px) {
    .not-found-head{
        font-size:25px;
    }
    .notFoundBtn {
        font-size:15px;
    }
}