/* ---------- MAIN CONTAINER ---------- */
.jobs-container {
  background: #121212;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- FLEX LAYOUT ---------- */
.flex-sidebar-jobs-cont {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

/* ---------- SIDEBAR ---------- */
.sideBar-on-medium-to-large-screen {
  width: 100%;
  padding: 20px;
}

/* ---------- SEARCH BAR ---------- */
.search-bar {
  width: 100%;
  max-width: 350px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  height: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  background: none;
  outline: none;
  border-width: 0px;
  height: 25px;
  color: white;
  padding-left: 10px;
}

.search-button {
  background: #272727;
  border: none;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: white;
  font-size: 18px;
}

/* ---------- FILTER ---------- */
.filter-heading {
  color: white;
  font-size: 20px;
}

.filter-container {
  border-top: 1px solid #ffffff;
  margin-top: 20px;
}

.filter-list {
  list-style-type: none;
  padding-left: 0;
}

.label {
  color: white;
  margin-left: 12px;
}

.filter-item {
  margin-bottom: 10px;
}

.all-jobs-cont {
  width: 100%;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center; /* mobile centering */
}

/* ---------- LOADERS ---------- */
.sweet-loading {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- FAILURE & NO JOBS ---------- */
.failure-cont,
.no-jobs-cont {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.failure-img,
.no-jobs-img {
  width: 300px;
  max-width: 90%;
}

.no-jobs-heading {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
}

.no-jobs-desc {
  color: #cbd5e1;
  font-size: 14px;
}

/* ---------- BUTTON ---------- */
.retry-btn {
  background-color: #4f46e5;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

/* ---------- DESKTOP VIEW ---------- */
@media screen and (min-width: 768px) {
  .flex-sidebar-jobs-cont {
    flex-direction: row;
    align-items: flex-start;
  }

  .sideBar-on-medium-to-large-screen {
    width: 30%;
    padding: 40px 20px;
  }

  .all-jobs-cont,
  .failure-cont,
  .no-jobs-cont {
    width: 70%;
    padding: 40px 20px;
  }
}
