.profile-card {
    background-image:url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
    background-size:cover;
    margin-top:20px;
    padding:15px;
    width:100%;
    border-radius:20px;
}
.profile-head {
    font-size:20px;
    color:#6366f1;
}
.profile-image{
    height:60px;
    width:60px;
}

.profile-bio{
    font-size:15px;
}